.profileContainer {
    display: flex;
    flex-direction: column;
}

.profileTitle {
    font-family: Avenir, sans-serif;
    color: #134074;
    margin: 1rem auto auto 22vw;
    max-height: 5rem;
}

.profileForm {
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:5px;
    max-width: 20vw;
    margin: 1rem 20vw auto -10vw;
}

.profileForm label {
    text-align: right;
    font-family: Avenir, sans-serif;
    color: #134074;
    font-size: 1.4rem;
}

.profileForm input {
    font-family: Avenir, sans-serif;
    width: 20rem;
    height: 3rem;
    padding-left: 1rem;
}

.profileForm input:focus {
    outline: none;
}

.updateButton {
    color: #EEF4ED;
    font-family: Avenir, sans-serif;
    font-size: 1.2rem;
    background-color: #8DA9C4;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 5rem;
}

.updateButton:hover {
    background-color: #134074;
    cursor: pointer;
}
