* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.aboutUs {
    padding-top: 12rem;
    height: 120ch;
}

.aboutUs h1 {
    position: absolute;
    font-family: Avenir, serif;
    color: #134074;
    left: 6rem;
    top: 83rem;
}

.aboutUs p {
    position: absolute;
    font-family: Avenir, serif;
    width: 40%;
    top: 90rem;
    left: 6rem;
}

.aboutUs img {
    position: absolute;
    right: 0;
    width: 35%;
    border-radius: 3rem;
    margin: 10rem;
}

