* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.sidebar {
    position: absolute;
    bottom: 0;
    background-color: #0B2545;
    width: 20rem;
    height: 85vh;
}

.sideBarContainer {
    display: flex;
    flex-direction: column;
}

.sidebarElement {
    font-family: Avenir, sans-serif;
    font-size: 1.3rem;
    text-decoration: none;
    color: #EEF4ED;
    padding: 1.5rem 1rem 1.5rem 2rem;
}

.sidebarIcon {
    margin-right: 2rem;
}


.sidebarElement:hover {
    background-color: #6496c1;
    cursor: pointer;
}

.logout {
    position: absolute;
    font-family: Avenir, sans-serif;
    color: #EEF4ED;
    text-align: center;
    padding-top: 45vh;
    margin: 30vh 10vh 10vh;
}
